In [18]:
import pandas as pd

In [7]:
%load_ext autoreload

In [8]:
%autoreload 1

In [9]:
import sys

In [11]:
sys.path.append("./Pipeline")

In [12]:
%aimport base_class

In [1]:
URL = 'https://storage.googleapis.com/applied-dl/heart.csv'

In [45]:
base = base_class.BaseClass(URL)

In [46]:
base.extract_data()

In [47]:
base.df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,1,145,233,1,2,150,0,2.3,3,0,fixed,0
1,67,1,4,160,286,0,2,108,1,1.5,2,3,normal,1
2,67,1,4,120,229,0,2,129,1,2.6,2,2,reversible,0
3,37,1,3,130,250,0,0,187,0,3.5,3,0,normal,0
4,41,0,2,130,204,0,2,172,0,1.4,1,0,normal,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,52,1,1,118,186,0,2,190,0,0.0,2,0,fixed,0
299,43,0,4,132,341,1,2,136,1,3.0,2,0,reversible,1
300,65,1,4,135,254,0,2,127,0,2.8,2,1,reversible,1
301,48,1,4,130,256,1,2,150,1,0.0,1,2,reversible,1
302,63,0,4,150,407,0,2,154,0,4.0,2,3,reversible,1

In [48]:
base.prepare_data()

In [49]:
base.y

     target
0         0
1         1
2         0
3         0
4         0
..      ...
298       0
299       1
300       1
301       1
302       1

[303 rows x 1 columns]

In [58]:
%aimport train_test_class

In [61]:
trial = train_test_class.TrainTest(URL)

In [62]:
trial.extract_data()

In [63]:
trial.df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,1,145,233,1,2,150,0,2.3,3,0,fixed,0
1,67,1,4,160,286,0,2,108,1,1.5,2,3,normal,1
2,67,1,4,120,229,0,2,129,1,2.6,2,2,reversible,0
3,37,1,3,130,250,0,0,187,0,3.5,3,0,normal,0
4,41,0,2,130,204,0,2,172,0,1.4,1,0,normal,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,52,1,1,118,186,0,2,190,0,0.0,2,0,fixed,0
299,43,0,4,132,341,1,2,136,1,3.0,2,0,reversible,1
300,65,1,4,135,254,0,2,127,0,2.8,2,1,reversible,1
301,48,1,4,130,256,1,2,150,1,0.0,1,2,reversible,1
302,63,0,4,150,407,0,2,154,0,4.0,2,3,reversible,1